In [1]:
# Data cleaning & introductory code 

# Imports
import pandas as pd

In [2]:
# Read csv
df = pd.read_csv("/Users/thomassimmons/c/d/datasets/Synthetic_Gym_Check-ins.csv")

In [3]:
# Checking shape
print("Dataset shape:", df.shape)

Dataset shape: (4314, 5)

In [4]:
# Display first few rows
df.head()

             timestamp student_id activity_type  duration_minutes day_of_week
0  2025-06-01 19:07:00      S0167          yoga                69      Sunday
1  2025-06-01 19:57:00      S0104      swimming                85      Sunday
2  2025-06-01 17:50:00      S0142    elliptical                80      Sunday
3  2025-06-01 12:11:00      S0060     treadmill                78      Sunday
4  2025-06-01 09:27:00      S0173          yoga                61      Sunday

In [5]:
# Check for missing values
df.isnull().sum()

timestamp           0
student_id          0
activity_type       0
duration_minutes    0
day_of_week         0
dtype: int64

In [6]:
# Info on datatypes
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4314 entries, 0 to 4313
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   timestamp         4314 non-null   object
 1   student_id        4314 non-null   object
 2   activity_type     4314 non-null   object
 3   duration_minutes  4314 non-null   int64
 4   day_of_week       4314 non-null   object
dtypes: int64(1), object(4)
memory usage: 168.6+ KB

In [7]:
# Get stats
df.describe()

       duration_minutes
count       4314.000000
mean          55.114279
std           20.464854
min           20.000000
25%           37.000000
50%           55.000000
75%           72.000000
max           90.000000

In [8]:
# Check for duplicates
df.duplicated().sum()

0

In [9]:
# Get columns
df.columns

Index(['timestamp', 'student_id', 'activity_type', 'duration_minutes',
       'day_of_week'],
      dtype='object')

In [10]:
# Typical column naming cleaning
df.columns = df.columns.str.strip().str.lower().str.replace(" ", "_")
print(df.columns)

Index(['timestamp', 'student_id', 'activity_type', 'duration_minutes',
       'day_of_week'],
      dtype='object')

In [11]:
# Drop rows with any missing values 
df = df.dropna()

In [12]:
# Check datatypes 
df.dtypes

timestamp           object
student_id          object
activity_type       object
duration_minutes     int64
day_of_week         object
dtype: object

In [13]:
# Convert timestamp to datatime
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [14]:
# Check for duplicates
print(df.duplicated().sum())

# Drop duplicates
df = df.drop_duplicates()

0