In [7]:
# Imports
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [8]:
df = pd.read_csv("/Users/thomassimmons/c/GymDataJul2025/Data/Cleaned_Synthetic_Gym_Check-ins.csv")

In [9]:
df.head()

,Unnamed: 0,timestamp,student_id,activity_type,duration_minutes,day_of_week
0,0,2025-06-01 19:07:00,S0167,yoga,69,Sunday
1,1,2025-06-01 19:57:00,S0104,swimming,85,Sunday
2,2,2025-06-01 17:50:00,S0142,elliptical,80,Sunday
3,3,2025-06-01 12:11:00,S0060,treadmill,78,Sunday
4,4,2025-06-01 09:27:00,S0173,yoga,61,Sunday

In [10]:
df.describe

<bound method NDFrame.describe of       Unnamed: 0            timestamp student_id activity_type  \
0              0  2025-06-01 19:07:00      S0167          yoga
1              1  2025-06-01 19:57:00      S0104      swimming
2              2  2025-06-01 17:50:00      S0142    elliptical
3              3  2025-06-01 12:11:00      S0060     treadmill
4              4  2025-06-01 09:27:00      S0173          yoga
...          ...                  ...        ...           ...
4309        4309  2025-06-30 18:19:00      S0020       weights
4310        4310  2025-06-30 08:38:00      S0030      swimming
4311        4311  2025-06-30 19:54:00      S0114    elliptical
4312        4312  2025-06-30 12:21:00      S0148      swimming
4313        4313  2025-06-30 09:41:00      S0194    elliptical

      duration_minutes day_of_week
0                   69      Sunday
1                   85      Sunday
2                   80      Sunday
3                   78      Sunday
4                   61      Sunday
...                ...         ...
4309                32      Monday
4310                29      Monday
4311                34      Monday
4312                45      Monday
4313                40      Monday

[4314 rows x 6 columns]>

In [13]:
df.columns

Index(['unnamed: 0', 'timestamp', 'student_id', 'activity_type',
       'duration_minutes', 'day_of_week'],
      dtype='object')

In [12]:
df.columns = df.columns.str.strip().str.lower()